---
layout: tags
---


<section>
    <div class="container">
        <ul class="docs-nav">
            {% for tag in site.tags %}
            <li><b class="lang" name="RpiVer"></b><a href="#{{ tag[0] }}" class="tag">{{ tag[0] }}</a></li>
            {% endfor %}
        </ul>
        <div class="docs-content">
            {% for tag in site.tags %}
            <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
            <ul>
            {% for post in tag[1] %}
            <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
            <hr/>
            {% endfor %}
        </div>
    </div>
</section>
