---
layout: default
---

<div class="detail_main">
    <span><a href="{{ page.license_link }}" class="fa fa-balance-scale">  LICENSE :</a> {{ page.license }}</span><br>
    <span><a href="{{ page.homepage }}" class="fa fa-home">  HOMEPAGE :</a> {{ page.homepage }}</span><br>
    <span><a href="{{ page.download }}" class="fa fa-download">  DOWLOAD :</a> {{ page.download }}</span><br>
    <span><a href="{{ page.license_link }}" class="fa fa-address-card">  AUTHOR :</a> {{ page.author }}</span><br>
</div>

<h1>Introduction</h1>
{{ content }}
<h1>Screenshot</h1>
<img src="/thumbnails/Screenshot/{{ page.thumbnail }}">