<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta id="lang" content="data">
    <title class="lang" name="tag_title"></title>
    <link rel="alternate" type="application/rss+xml" title="" href="feed/index.html">
    <link href="{{ BASE_PATH }}/assets/css/loader.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/tag-style.css">
    <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/prettify.css">
</head>
<body>
<div class="wrapper">

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <header>
        <div class="container">
            <h2 class="lone-header"><b class="lang" name="tag"></b> | <a href="/"><b class="lang" name="HomePage"></b></a> </h2>
        </div>
    </header>

    {{ content }}

    <footer>

    </footer>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="{{ BASE_PATH }}/assets/js/prettify.js"></script>
<script src="{{ BASE_PATH }}/assets/js/layout.js"></script>
<script src="{{ BASE_PATH }}/assets/js/jquery.i18n.properties.js"></script>
<script src="{{ BASE_PATH }}/assets/js/langpack.js"></script>
<script src="{{ BASE_PATH }}/assets/js/loader.js"></script>
</body>
</html>
